<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.dgsw.webclass01.Domain.CartMapper">

    <insert id="add" parameterType="kr.hs.dgsw.webclass01.Domain.Cart">
        insert into cart(userId, productId, price, amount, total) values (#{userId}, #{productId}, #{price}, #{amount}, #{total})
    </insert>

    <delete id="deleteById" parameterType="Long">
        delete from cart
        where id=#{id}
    </delete>

    <delete id="deleteByUserId" parameterType="Long">
        delete from cart
        where userid=#{userId}
    </delete>

    <select id="findById" parameterType="Long" resultType="kr.hs.dgsw.webclass01.Domain.Cart">
        select id, userId, productid, price, amount, total, created
        from cart
        where id=#{id}
    </select>

    <select id="findByUserId" parameterType="Long" resultType="HashMap">
        select * from cart join product p on cart.productId = p.id  where userid=#{userId} order by createdAt desc
    </select>

    <update id="modify" parameterType="kr.hs.dgsw.webclass01.Domain.Cart">
        update cart set amount=#{amount}, total=#{total} where userid=#{userId} and productid=#{productId}
    </update>
</mapper>