<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.dgsw.webclass01.Domain.ProductMapper">
    <insert id="add" parameterType="kr.hs.dgsw.webclass01.Domain.Product">
        insert into product(name, price, menuId, submenuId, details, factory)
        values(#{name}, #{price}, #{menuId}, #{submenuId}, #{details}, #{factory})
    </insert>

    <update id="modify" parameterType="kr.hs.dgsw.webclass01.Domain.Product">
        update product
        set name=#{name}, price=#{price}, menuId=#{menuId}, submenuId=#{submenuId}, details=#{details}, factory=#{factory}
        where id=#{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from product
        where id=#{id}
    </delete>

    <select id="findById" parameterType="Long" resultType="kr.hs.dgsw.webclass01.Domain.Product">
        select id, name, price, menuId, submenuId, details, factory
        from product
        where id=#{id}
    </select>

    <select id="findByMenuId" parameterType="Long" resultType="kr.hs.dgsw.webclass01.Domain.Product">
        select id, name, price, menuId, submenuId, details, factory
        from product
        where menuid=#{menuid}
    </select>

    <select id="findBySubMenuId" parameterType="Long" resultType="kr.hs.dgsw.webclass01.Domain.Product">
        select id, name, price, menuId, submenuId, details, factory
        from product
        where submenuId=#{submenuId}
    </select>

    <select id="findAll" resultType="kr.hs.dgsw.webclass01.Domain.Product">
        select id, name, price, menuId, submenuId, details, factory
        from product
    </select>
</mapper>